<h1>Create snippet</h1>
<form class="row g-3" method="post" action="./snippets/create">
  <div class="col-md-12">
    <label class="form-label" for="snippetInput">
      Code snippet
    </label>
    <input type="text" class="form-control" id="snippetInput" name="snippettext"
      placeholder="Enter a new snippet here" required="required" autofocus="autofocus" />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>