<h1>Update snippet</h1>
<form class="row g-3" method="post" action="./snippets/<%= viewData?.id %>/update">
  <div class="col-md-12">
    <label class="form-label" for="snippetInput">
      Snippet
    </label>
    <input type="text" class="form-control" id="snippetInput" name="snippettext"
      placeholder="Update snippet here" value="<%= viewData?.snippettext %>" required="required"
      autofocus="autofocus" />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>